https://towardsdatascience.com/4-all-time-useful-use-cases-of-pandas-group-by-77aae706322b

In [1]:
import pandas as pd
df = pd.read_csv("iris.data",
                 header=None,
                 names=["sepal_length", "sepal_width",
                        "petal_length","petal_width","class"])
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
df.groupby('class')['sepal_length'].sum()

class
Iris-setosa        250.3
Iris-versicolor    296.8
Iris-virginica     329.4
Name: sepal_length, dtype: float64

In [3]:
dict1 = {'sepal_length':'sum', 'sepal_width':'mean'}
groupby_object = df.groupby(["class"])
groupby_object.agg(dict1)

                 sepal_length  sepal_width
class
Iris-setosa             250.3        3.418
Iris-versicolor         296.8        2.770
Iris-virginica          329.4        2.974

In [4]:
df.groupby(["class"]).agg({'sepal_length':'sum', 'sepal_width':'mean'})

                 sepal_length  sepal_width
class
Iris-setosa             250.3        3.418
Iris-versicolor         296.8        2.770
Iris-virginica          329.4        2.974

In [5]:
df.groupby('class')['sepal_length'].agg(['min', 'max', 'median'])

                 min  max  median
class
Iris-setosa      4.3  5.8     5.0
Iris-versicolor  4.9  7.0     5.9
Iris-virginica   4.9  7.9     6.5

In [6]:
df.groupby(["class"]).agg({'sepal_length':['min', 'max', 'median'],
                           'sepal_width':['min', 'max', 'median']})

                sepal_length             sepal_width
                         min  max median         min  max median
class
Iris-setosa              4.3  5.8    5.0         2.3  4.4    3.4
Iris-versicolor          4.9  7.0    5.9         2.0  3.4    2.8
Iris-virginica           4.9  7.9    6.5         2.2  3.8    3.0

In [7]:
df.groupby(["class"]).agg(min_sepal_length = ('sepal_length','min'),
                          max_sepal_length = ('sepal_length','max'),
                          median_sepal_length = ('sepal_length','median'),
                          min_sepal_width = ('sepal_width','min'),
                          max_sepal_width = ('sepal_width','max'),
                          median_sepal_width = ('sepal_width','median'))

,min_sepal_length,max_sepal_length,median_sepal_length,min_sepal_width,max_sepal_width,median_sepal_width
class,,,,,,
Iris-setosa,4.3,5.8,5.0,2.3,4.4,3.4
Iris-versicolor,4.9,7.0,5.9,2.0,3.4,2.8
Iris-virginica,4.9,7.9,6.5,2.2,3.8,3.0

In [8]:
def my_range(x):
    return x.max() - x.min()
df.groupby(["class"]).agg({'sepal_length':my_range,
                           'sepal_width':my_range,
                           'petal_length':my_range,
                           'petal_width':my_range})

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa               1.5          2.1           0.9          0.5
Iris-versicolor           2.1          1.4           2.1          0.8
Iris-virginica            3.0          1.6           2.4          1.1

In [9]:
df.groupby(["class"]).agg({'sepal_length':['min', 'max', my_range],
                           'sepal_width':['min', 'max', my_range],
                           'petal_length':['min', 'max', my_range],
                           'petal_width':['min', 'max', my_range]})

                sepal_length               sepal_width                \
                         min  max my_range         min  max my_range
class
Iris-setosa              4.3  5.8      1.5         2.3  4.4      2.1
Iris-versicolor          4.9  7.0      2.1         2.0  3.4      1.4
Iris-virginica           4.9  7.9      3.0         2.2  3.8      1.6

                petal_length               petal_width
                         min  max my_range         min  max my_range
class
Iris-setosa              1.0  1.9      0.9         0.1  0.6      0.5
Iris-versicolor          3.0  5.1      2.1         1.0  1.8      0.8
Iris-virginica           4.5  6.9      2.4         1.4  2.5      1.1

In [10]:
my_range.__name__ = 'Max - Min'
df.groupby(["class"]).agg({'sepal_length':['min', 'max', my_range],
                           'sepal_width':['min', 'max', my_range],
                           'petal_length':['min', 'max', my_range],
                           'petal_width':['min', 'max', my_range]})

                sepal_length                sepal_width                 \
                         min  max Max - Min         min  max Max - Min
class
Iris-setosa              4.3  5.8       1.5         2.3  4.4       2.1
Iris-versicolor          4.9  7.0       2.1         2.0  3.4       1.4
Iris-virginica           4.9  7.9       3.0         2.2  3.8       1.6

                petal_length                petal_width
                         min  max Max - Min         min  max Max - Min
class
Iris-setosa              1.0  1.9       0.9         0.1  0.6       0.5
Iris-versicolor          3.0  5.1       2.1         1.0  1.8       0.8
Iris-virginica           4.5  6.9       2.4         1.4  2.5       1.1