https://www.youtube.com/watch?v=TfvAuu24X94

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('./pokedex.csv',index_col=0)
df.head()

,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,1,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [27]:
cols_to_keep=['pokedex_number', 'name', 'generation',
       'species',
       'type_1', 'type_2', 'height_m', 'weight_kg',
       'abilities_number', 'ability_1', 'ability_2', 
       'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 
       'percentage_male', 'against_normal', 'against_fire',
       'against_water', 'against_electric', 'against_grass', 'against_ice',
       'against_fight', 'against_poison', 'against_ground', 'against_flying',
       'against_psychic', 'against_bug', 'against_rock', 'against_ghost',
       'against_dragon', 'against_dark', 'against_steel', 'against_fairy']

In [28]:
df =df[cols_to_keep]

KeyError: "['status'] not in index"

In [23]:
df.shape

(1028, 37)

In [24]:
df.head()

,pokedex_number,name,generation,species,type_1,type_2,height_m,weight_kg,abilities_number,ability_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,Seed Pokémon,Grass,Poison,0.7,6.9,2,Overgrow,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,Seed Pokémon,Grass,Poison,1.0,13.0,2,Overgrow,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,Seed Pokémon,Grass,Poison,2.0,100.0,2,Overgrow,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,1,Seed Pokémon,Grass,Poison,2.4,155.5,1,Thick Fat,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,Lizard Pokémon,Fire,NaN,0.6,8.5,2,Blaze,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [31]:
pd.crosstab(index=df.species,columns=df.generation)

generation           1  2  3  4  5  6  7  8
species
Abundance Pokémon    0  0  0  0  2  0  0  0
Acorn Pokémon        0  0  1  0  0  0  0  0
Alloy Pokémon        0  0  0  0  0  0  0  1
Alpha Pokémon        0  0  0  1  0  0  0  0
Angler Pokémon       0  1  0  0  0  0  0  0
...                 .. .. .. .. .. .. .. ..
Woolly Crab Pokémon  0  0  0  0  0  0  1  0
Worm Pokémon         1  0  1  0  0  0  0  1
Wrestling Pokémon    0  0  0  0  0  1  0  0
Young Fowl Pokémon   0  0  1  0  0  0  0  0
Zen Charm Pokémon    0  0  0  0  4  0  0  0

[641 rows x 8 columns]

In [39]:
pd.crosstab(index=df.species,columns=df.generation,margins=True,margins_name='Total')

generation            1    2    3    4    5   6   7   8  Total
species
Abundance Pokémon     0    0    0    0    2   0   0   0      2
Acorn Pokémon         0    0    1    0    0   0   0   0      1
Alloy Pokémon         0    0    0    0    0   0   0   1      1
Alpha Pokémon         0    0    0    1    0   0   0   0      1
Angler Pokémon        0    1    0    0    0   0   0   0      1
...                 ...  ...  ...  ...  ...  ..  ..  ..    ...
Worm Pokémon          1    0    1    0    0   0   0   1      3
Wrestling Pokémon     0    0    0    0    0   1   0   0      1
Young Fowl Pokémon    0    0    1    0    0   0   0   0      1
Zen Charm Pokémon     0    0    0    0    4   0   0   0      4
Total               192  106  165  121  171  85  99  88   1027

[642 rows x 9 columns]

In [40]:
pd.crosstab(index=df.species,columns=df.generation,margins=True,margins_name='Total',normalize=True)

generation,1,2,3,4,5,6,7,8,Total
species,,,,,,,,,
Abundance Pokémon,0.000000,0.000000,0.000000,0.000000,0.001947,0.000000,0.000000,0.000000,0.001947
Acorn Pokémon,0.000000,0.000000,0.000974,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974
Alloy Pokémon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974,0.000974
Alpha Pokémon,0.000000,0.000000,0.000000,0.000974,0.000000,0.000000,0.000000,0.000000,0.000974
Angler Pokémon,0.000000,0.000974,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974
...,...,...,...,...,...,...,...,...,...
Worm Pokémon,0.000974,0.000000,0.000974,0.000000,0.000000,0.000000,0.000000,0.000974,0.002921
Wrestling Pokémon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974,0.000000,0.000000,0.000974
Young Fowl Pokémon,0.000000,0.000000,0.000974,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974
Zen Charm Pokémon,0.000000,0.000000,0.000000,0.000000,0.003895,0.000000,0.000000,0.000000,0.003895
Total,0.186952,0.103213,0.160662,0.117819,0.166504,0.082765,0.096397,0.085686,1.000000

In [41]:
pd.crosstab(index=df.species,columns=df.generation,margins=True,margins_name='Total',normalize='index')

generation,1,2,3,4,5,6,7,8
species,,,,,,,,
Abundance Pokémon,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
Acorn Pokémon,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Alloy Pokémon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
Alpha Pokémon,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Angler Pokémon,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
Worm Pokémon,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333
Wrestling Pokémon,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
Young Fowl Pokémon,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Zen Charm Pokémon,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
Total,0.186952,0.103213,0.160662,0.117819,0.166504,0.082765,0.096397,0.085686

In [42]:
pd.crosstab(index=df.species,columns=df.generation,margins=True,margins_name='Total',normalize='columns')

generation,1,2,3,4,5,6,7,8,Total
species,,,,,,,,,
Abundance Pokémon,0.000000,0.000000,0.000000,0.000000,0.011696,0.000000,0.000000,0.000000,0.001947
Acorn Pokémon,0.000000,0.000000,0.006061,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974
Alloy Pokémon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011364,0.000974
Alpha Pokémon,0.000000,0.000000,0.000000,0.008264,0.000000,0.000000,0.000000,0.000000,0.000974
Angler Pokémon,0.000000,0.009434,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974
...,...,...,...,...,...,...,...,...,...
Woolly Crab Pokémon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010101,0.000000,0.000974
Worm Pokémon,0.005208,0.000000,0.006061,0.000000,0.000000,0.000000,0.000000,0.011364,0.002921
Wrestling Pokémon,0.000000,0.000000,0.000000,0.000000,0.000000,0.011765,0.000000,0.000000,0.000974
Young Fowl Pokémon,0.000000,0.000000,0.006061,0.000000,0.000000,0.000000,0.000000,0.000000,0.000974
Zen Charm Pokémon,0.000000,0.000000,0.000000,0.000000,0.023392,0.000000,0.000000,0.000000,0.003895

In [46]:
pd.crosstab(index=df.species,columns=df.generation,margins=True,values=df.weight_kg,aggfunc='max')

generation,1,2,3,4,5,6,7,8,All
species,,,,,,,,,
Abundance Pokémon,NaN,NaN,NaN,NaN,68.0,NaN,NaN,NaN,68.0
Acorn Pokémon,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0
Alloy Pokémon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,40.0
Alpha Pokémon,NaN,NaN,NaN,320.0,NaN,NaN,NaN,NaN,320.0
Angler Pokémon,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0
...,...,...,...,...,...,...,...,...,...
Worm Pokémon,2.9,NaN,3.6,NaN,NaN,NaN,NaN,3.8,3.8
Wrestling Pokémon,NaN,NaN,NaN,NaN,NaN,21.5,NaN,NaN,21.5
Young Fowl Pokémon,NaN,NaN,19.5,NaN,NaN,NaN,NaN,NaN,19.5
Zen Charm Pokémon,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,120.0
All,460.0,740.0,999.7,750.0,345.0,610.0,999.9,950.0,999.9

In [47]:
pd.crosstab(index=df.species,columns=df.generation,rownames=['which kind?'],colnames=['gen'])

gen                  1  2  3  4  5  6  7  8
which kind?
Abundance Pokémon    0  0  0  0  2  0  0  0
Acorn Pokémon        0  0  1  0  0  0  0  0
Alloy Pokémon        0  0  0  0  0  0  0  1
Alpha Pokémon        0  0  0  1  0  0  0  0
Angler Pokémon       0  1  0  0  0  0  0  0
...                 .. .. .. .. .. .. .. ..
Woolly Crab Pokémon  0  0  0  0  0  0  1  0
Worm Pokémon         1  0  1  0  0  0  0  1
Wrestling Pokémon    0  0  0  0  0  1  0  0
Young Fowl Pokémon   0  0  1  0  0  0  0  0
Zen Charm Pokémon    0  0  0  0  4  0  0  0

[641 rows x 8 columns]

In [49]:
pd.crosstab(index=df.species,columns=df.generation,values=df.percentage_male,aggfunc='mean',dropna=False)

generation              1     2     3   4      5     6     7   8
species
Abundance Pokémon     NaN   NaN   NaN NaN  100.0   NaN   NaN NaN
Acorn Pokémon         NaN   NaN  50.0 NaN    NaN   NaN   NaN NaN
Alloy Pokémon         NaN   NaN   NaN NaN    NaN   NaN   NaN NaN
Alpha Pokémon         NaN   NaN   NaN NaN    NaN   NaN   NaN NaN
Angler Pokémon        NaN  50.0   NaN NaN    NaN   NaN   NaN NaN
...                   ...   ...   ...  ..    ...   ...   ...  ..
Woolly Crab Pokémon   NaN   NaN   NaN NaN    NaN   NaN  50.0 NaN
Worm Pokémon         50.0   NaN  50.0 NaN    NaN   NaN   NaN NaN
Wrestling Pokémon     NaN   NaN   NaN NaN    NaN  50.0   NaN NaN
Young Fowl Pokémon    NaN   NaN  87.5 NaN    NaN   NaN   NaN NaN
Zen Charm Pokémon     NaN   NaN   NaN NaN   50.0   NaN   NaN NaN

[641 rows x 8 columns]

In [50]:
pd.crosstab(index=df.species,columns=df.generation,values=df.percentage_male,aggfunc='mean',dropna=False).fillna(0)

generation              1     2     3    4      5     6     7    8
species
Abundance Pokémon     0.0   0.0   0.0  0.0  100.0   0.0   0.0  0.0
Acorn Pokémon         0.0   0.0  50.0  0.0    0.0   0.0   0.0  0.0
Alloy Pokémon         0.0   0.0   0.0  0.0    0.0   0.0   0.0  0.0
Alpha Pokémon         0.0   0.0   0.0  0.0    0.0   0.0   0.0  0.0
Angler Pokémon        0.0  50.0   0.0  0.0    0.0   0.0   0.0  0.0
...                   ...   ...   ...  ...    ...   ...   ...  ...
Woolly Crab Pokémon   0.0   0.0   0.0  0.0    0.0   0.0  50.0  0.0
Worm Pokémon         50.0   0.0  50.0  0.0    0.0   0.0   0.0  0.0
Wrestling Pokémon     0.0   0.0   0.0  0.0    0.0  50.0   0.0  0.0
Young Fowl Pokémon    0.0   0.0  87.5  0.0    0.0   0.0   0.0  0.0
Zen Charm Pokémon     0.0   0.0   0.0  0.0   50.0   0.0   0.0  0.0

[641 rows x 8 columns]

In [55]:
pd.crosstab(index=[df.generation,df.species],columns=df.abilities_number,values=df.total_points,aggfunc='median').fillna(0)

abilities_number                   0      1      2      3
generation species
1          Atrocious Pokémon     0.0  640.0  540.0    0.0
           Ball Pokémon          0.0    0.0    0.0  410.0
           Balloon Pokémon       0.0    0.0    0.0  352.5
           Barrier Pokémon       0.0    0.0    0.0  460.0
           Bat Pokémon           0.0    0.0  350.0    0.0
...                              ...    ...    ...    ...
8          Water Lizard Pokémon  0.0    0.0  310.0    0.0
           Water lizard Pokémon  0.0    0.0  420.0    0.0
           Wild Duck Pokémon     0.0    0.0  507.0    0.0
           Wily Pokémon          0.0    0.0    0.0  265.0
           Worm Pokémon          0.0    0.0  185.0    0.0

[721 rows x 4 columns]