https://medium.com/@gozdebarin/how-to-select-and-filter-data-in-python-pandas-fe5c477a5959

In [103]:
import pandas as pd
df = pd.read_csv("Ecommerce_Sales_Analysis.csv")

In [104]:
df[['Customer Country']]

      Customer Country
0          Puerto Rico
1          Puerto Rico
2          Puerto Rico
3          Puerto Rico
4          Puerto Rico
...                ...
52356    United States
52357    United States
52358    United States
52359    United States
52360    United States

[52361 rows x 1 columns]

In [105]:
# Selecting multiple columns
df[['Customer Country', 'Customer State']]

      Customer Country Customer State
0          Puerto Rico             PR
1          Puerto Rico             PR
2          Puerto Rico             PR
3          Puerto Rico             PR
4          Puerto Rico             PR
...                ...            ...
52356    United States             IL
52357    United States             TX
52358    United States             NY
52359    United States             AZ
52360    United States             NY

[52361 rows x 2 columns]

In [106]:
df.loc[:, 'Customer Country':'Customer State']

,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State
0,Puerto Rico,Sean,568,Consumer,PR
1,Puerto Rico,Carol,3341,Consumer,PR
2,Puerto Rico,Mary,7459,Consumer,PR
3,Puerto Rico,Mary,7459,Consumer,PR
4,Puerto Rico,Mary,10740,Consumer,PR
...,...,...,...,...,...
52356,United States,Kathryn,10192,Home Office,IL
52357,United States,Ria,16471,Home Office,TX
52358,United States,Mary,12070,Home Office,NY
52359,United States,Angela,10098,Home Office,AZ
52360,United States,Mary,12070,Home Office,NY

In [107]:
# Using loc for label-based selection
df.loc[[0,1,2], 'Customer Country':'Customer State']

  Customer Country Customer Fname  Customer Id Customer Segment Customer State
0      Puerto Rico           Sean          568         Consumer             PR
1      Puerto Rico          Carol         3341         Consumer             PR
2      Puerto Rico           Mary         7459         Consumer             PR

In [108]:
# Using iloc for index-based selection
df.iloc[[0,1,2,3] , [3,4,5,6,7,8]]

# or
df.iloc[[0,1,2,3] , 3:9]

,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode
0,Puerto Rico,Sean,568,Consumer,PR,725.0
1,Puerto Rico,Carol,3341,Consumer,PR,725.0
2,Puerto Rico,Mary,7459,Consumer,PR,680.0
3,Puerto Rico,Mary,7459,Consumer,PR,680.0

In [109]:
# Using iloc for index-based selection
df.iloc[:, 3:8]

,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State
0,Puerto Rico,Sean,568,Consumer,PR
1,Puerto Rico,Carol,3341,Consumer,PR
2,Puerto Rico,Mary,7459,Consumer,PR
3,Puerto Rico,Mary,7459,Consumer,PR
4,Puerto Rico,Mary,10740,Consumer,PR
...,...,...,...,...,...
52356,United States,Kathryn,10192,Home Office,IL
52357,United States,Ria,16471,Home Office,TX
52358,United States,Mary,12070,Home Office,NY
52359,United States,Angela,10098,Home Office,AZ
52360,United States,Mary,12070,Home Office,NY

In [110]:
# Using [] bracket operator for filtering rows# Using [] bracket operator for filtering rows
condition = df['Order Quantity'] > 3
df[condition]


# or
df[df['Order Quantity'] > 3]

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
45,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Tammy,6398,Consumer,PR,725.0,LATAM,6398,02-07-2017,52640,South America,189.949997,5,39.990002,27.60%,55.090000,199.949997
46,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,8917,Consumer,PR,725.0,LATAM,8917,13-04-2017,57106,South America,236.250000,5,50.000000,20.80%,51.980000,250.000000
47,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Christina,1425,Consumer,PR,725.0,LATAM,1425,31-01-2017,52166,Caribbean,136.500000,5,30.000000,44.60%,66.889999,150.000000
48,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Mary,2737,Consumer,PR,725.0,LATAM,2737,30-03-2017,56172,Caribbean,181.949997,5,39.990002,5.70%,11.460000,199.949997
49,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,6428,Consumer,PR,725.0,LATAM,6428,25-03-2017,55829,Caribbean,225.000000,5,50.000000,9.00%,22.500000,250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52308,Cleats,Cleats,Irwin,United States,Mary,2378,Home Office,PA,15642.0,LATAM,2378,17-04-2017,57359,Central America,272.950012,5,59.990002,25.50%,76.430000,299.950012
52309,Indoor/Outdoor Games,Indoor/Outdoor Games,Strongsville,United States,Brittany,680,Home Office,OH,44136.0,LATAM,680,16-05-2017,59351,Caribbean,219.910004,5,49.980000,6.60%,16.490000,249.899994
52310,Indoor/Outdoor Games,Indoor/Outdoor Games,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,239.899994,5,49.980000,32.60%,81.570000,249.899994
52311,Cleats,Cleats,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,245.960007,5,59.990002,5.20%,15.500000,299.950012
52312,Women's Apparel,Women's Apparel,Watsonville,United States,Mary,4501,Home Office,CA,95076.0,LATAM,4501,24-03-2017,55702,South America,200.000000,5,50.000000,29.00%,72.599998,250.000000

In [111]:
# Using loc for filtering rows
condition = df['Order Quantity'] > 3
df.loc[condition]


# or
df.loc[df['Order Quantity'] > 3]

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
45,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Tammy,6398,Consumer,PR,725.0,LATAM,6398,02-07-2017,52640,South America,189.949997,5,39.990002,27.60%,55.090000,199.949997
46,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,8917,Consumer,PR,725.0,LATAM,8917,13-04-2017,57106,South America,236.250000,5,50.000000,20.80%,51.980000,250.000000
47,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Christina,1425,Consumer,PR,725.0,LATAM,1425,31-01-2017,52166,Caribbean,136.500000,5,30.000000,44.60%,66.889999,150.000000
48,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Mary,2737,Consumer,PR,725.0,LATAM,2737,30-03-2017,56172,Caribbean,181.949997,5,39.990002,5.70%,11.460000,199.949997
49,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,6428,Consumer,PR,725.0,LATAM,6428,25-03-2017,55829,Caribbean,225.000000,5,50.000000,9.00%,22.500000,250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52308,Cleats,Cleats,Irwin,United States,Mary,2378,Home Office,PA,15642.0,LATAM,2378,17-04-2017,57359,Central America,272.950012,5,59.990002,25.50%,76.430000,299.950012
52309,Indoor/Outdoor Games,Indoor/Outdoor Games,Strongsville,United States,Brittany,680,Home Office,OH,44136.0,LATAM,680,16-05-2017,59351,Caribbean,219.910004,5,49.980000,6.60%,16.490000,249.899994
52310,Indoor/Outdoor Games,Indoor/Outdoor Games,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,239.899994,5,49.980000,32.60%,81.570000,249.899994
52311,Cleats,Cleats,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,245.960007,5,59.990002,5.20%,15.500000,299.950012
52312,Women's Apparel,Women's Apparel,Watsonville,United States,Mary,4501,Home Office,CA,95076.0,LATAM,4501,24-03-2017,55702,South America,200.000000,5,50.000000,29.00%,72.599998,250.000000

In [112]:
# Using loc for filtering rows
df.loc[df['Customer Country'] == 'United States']

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
117,Electronics,Electronics,Freeport,United States,Patricia,1509,Consumer,NY,11520.0,USCA,1509,05-08-2016,33824,US Center,128.220001,3,44.990002,21.40%,28.850000,134.970001
118,Cardio Equipment,Cardio Equipment,Fort Washington,United States,Julie,1636,Consumer,MD,20744.0,USCA,1636,04-02-2016,31364,West of USA,278.970001,3,99.989998,44.60%,133.910004,299.970001
119,Cardio Equipment,Cardio Equipment,Bakersfield,United States,Lisa,2784,Consumer,CA,93304.0,USCA,2784,14-08-2016,40495,West of USA,272.970001,3,99.989998,26.40%,79.160004,299.970001
120,Cardio Equipment,Cardio Equipment,Fort Washington,United States,Julie,1636,Consumer,MD,20744.0,USCA,1636,04-02-2016,31364,West of USA,272.970001,3,99.989998,6.40%,19.110001,299.970001
121,Cleats,Cleats,Corona,United States,Tyler,9174,Consumer,NY,11368.0,USCA,9174,18-05-2016,34506,West of USA,170.970001,3,59.990002,6.00%,10.770000,179.970001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52356,Cleats,Cleats,Chicago,United States,Kathryn,10192,Home Office,IL,60614.0,Pacific Asia,10192,18-03-2016,30313,Oceania,53.990002,1,59.990002,29.30%,17.549999,59.990002
52357,Pet Supplies,Pet Supplies,Dallas,United States,Ria,16471,Home Office,TX,75240.0,Pacific Asia,16471,30-11-2017,72918,Southeast Asia,70.050003,1,84.400002,10.00%,8.410000,84.400002
52358,Fitness Accessories,Fitness Accessories,Endicott,United States,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,67.879997,2,34.990002,46.60%,32.580002,69.980003
52359,Indoor/Outdoor Games,Indoor/Outdoor Games,Phoenix,United States,Angela,10098,Home Office,AZ,85029.0,Pacific Asia,10098,21-02-2016,28528,Southeast Asia,83.970001,2,49.980000,-58.80%,-58.779999,99.959999
52360,Cardio Equipment,Cardio Equipment,Endicott,United States,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,163.979996,2,99.989998,37.70%,75.430000,769.000000

In [113]:
# Using iloc for filtering rows
df.iloc[[0, 2, 4]]

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.000000
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.000000
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,10740,05-06-2017,58644,Central America,130.490005,1,149.990005,-63.80%,-95.650002,149.990005

In [114]:
# Using iloc for filtering rows
df.iloc[:3, :2]

  Additional Order items     Category Name
0       Camping & Hiking  Camping & Hiking
1       Camping & Hiking  Camping & Hiking
2       Camping & Hiking  Camping & Hiking

In [115]:
# Using isin for filtering rows
df[df['Customer Country'].isin(['United States', 'Puerto Rico'])]

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.000000
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,3341,18-04-2017,57472,South America,269.980011,1,299.980011,-5.40%,-16.200001,800.000000
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.000000
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,260.980011,1,299.980011,-1.10%,-3.390000,800.000000
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,10740,05-06-2017,58644,Central America,130.490005,1,149.990005,-63.80%,-95.650002,149.990005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52356,Cleats,Cleats,Chicago,United States,Kathryn,10192,Home Office,IL,60614.0,Pacific Asia,10192,18-03-2016,30313,Oceania,53.990002,1,59.990002,29.30%,17.549999,59.990002
52357,Pet Supplies,Pet Supplies,Dallas,United States,Ria,16471,Home Office,TX,75240.0,Pacific Asia,16471,30-11-2017,72918,Southeast Asia,70.050003,1,84.400002,10.00%,8.410000,84.400002
52358,Fitness Accessories,Fitness Accessories,Endicott,United States,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,67.879997,2,34.990002,46.60%,32.580002,69.980003
52359,Indoor/Outdoor Games,Indoor/Outdoor Games,Phoenix,United States,Angela,10098,Home Office,AZ,85029.0,Pacific Asia,10098,21-02-2016,28528,Southeast Asia,83.970001,2,49.980000,-58.80%,-58.779999,99.959999
52360,Cardio Equipment,Cardio Equipment,Endicott,United States,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,163.979996,2,99.989998,37.70%,75.430000,769.000000

In [116]:
# Filter rows based on values in a list and select spesific columns
df[["Customer Id", "Order Region"]][df['Order Region'].isin(['Central America', 'Caribbean'])]

       Customer Id     Order Region
2             7459  Central America
3             7459  Central America
4            10740  Central America
6             2092        Caribbean
7             9645  Central America
...            ...              ...
52307        10197  Central America
52308         2378  Central America
52309          680        Caribbean
52310         8185  Central America
52311         8185  Central America

[8087 rows x 2 columns]

In [117]:
# Using NOT isin for filtering rows
df[~df['Customer Country'].isin(['United States'])]

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.000000
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,3341,18-04-2017,57472,South America,269.980011,1,299.980011,-5.40%,-16.200001,800.000000
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.000000
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,260.980011,1,299.980011,-1.10%,-3.390000,800.000000
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,10740,05-06-2017,58644,Central America,130.490005,1,149.990005,-63.80%,-95.650002,149.990005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51863,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,David,11256,Corporate,PR,725.0,Europe,11256,17-12-2016,49082,Eastern Europe,251.970001,3,99.989998,6.30%,18.900000,769.000000
51864,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,Jeffrey,11736,Corporate,PR,725.0,Europe,11736,07-02-2017,62597,Western Europe,293.970001,3,99.989998,8.10%,24.400000,769.000000
51865,Indoor/Outdoor Games,Indoor/Outdoor Games,Caguas,Puerto Rico,George,2105,Corporate,PR,725.0,Europe,2105,09-08-2017,67247,Southern Europe,143.940002,3,49.980000,25.90%,38.860001,149.940002
51866,Cleats,Cleats,Caguas,Puerto Rico,Raymond,1379,Corporate,PR,725.0,Europe,1379,09-03-2017,66912,Western Europe,149.380005,3,59.990002,9.40%,16.879999,179.970001
51867,Indoor/Outdoor Games,Indoor/Outdoor Games,Caguas,Puerto Rico,Raymond,1379,Corporate,PR,725.0,Europe,1379,09-03-2017,66912,Western Europe,119.949997,3,49.980000,22.40%,33.590000,149.940002

In [118]:
# Rename the columns before performing the query
df.rename(columns={'Order Quantity' : 'Order_Quantity', "Customer Fname" : "Customer_Fname"}, inplace=True)
# Using query for filtering rows with a single condition
df.query('Order_Quantity > 3')

,Additional Order items,Category Name,Customer City,Customer Country,Customer_Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order_Quantity,Product Price,Profit Margin,Profit Per Order,Sales
45,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Tammy,6398,Consumer,PR,725.0,LATAM,6398,02-07-2017,52640,South America,189.949997,5,39.990002,27.60%,55.090000,199.949997
46,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,8917,Consumer,PR,725.0,LATAM,8917,13-04-2017,57106,South America,236.250000,5,50.000000,20.80%,51.980000,250.000000
47,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Christina,1425,Consumer,PR,725.0,LATAM,1425,31-01-2017,52166,Caribbean,136.500000,5,30.000000,44.60%,66.889999,150.000000
48,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Mary,2737,Consumer,PR,725.0,LATAM,2737,30-03-2017,56172,Caribbean,181.949997,5,39.990002,5.70%,11.460000,199.949997
49,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,6428,Consumer,PR,725.0,LATAM,6428,25-03-2017,55829,Caribbean,225.000000,5,50.000000,9.00%,22.500000,250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52308,Cleats,Cleats,Irwin,United States,Mary,2378,Home Office,PA,15642.0,LATAM,2378,17-04-2017,57359,Central America,272.950012,5,59.990002,25.50%,76.430000,299.950012
52309,Indoor/Outdoor Games,Indoor/Outdoor Games,Strongsville,United States,Brittany,680,Home Office,OH,44136.0,LATAM,680,16-05-2017,59351,Caribbean,219.910004,5,49.980000,6.60%,16.490000,249.899994
52310,Indoor/Outdoor Games,Indoor/Outdoor Games,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,239.899994,5,49.980000,32.60%,81.570000,249.899994
52311,Cleats,Cleats,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,245.960007,5,59.990002,5.20%,15.500000,299.950012
52312,Women's Apparel,Women's Apparel,Watsonville,United States,Mary,4501,Home Office,CA,95076.0,LATAM,4501,24-03-2017,55702,South America,200.000000,5,50.000000,29.00%,72.599998,250.000000

In [119]:
# Using query for filtering rows with multiple conditions
df.query('Order_Quantity > 3 and Customer_Fname == "Mary"')

,Additional Order items,Category Name,Customer City,Customer Country,Customer_Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order_Quantity,Product Price,Profit Margin,Profit Per Order,Sales
46,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,8917,Consumer,PR,725.0,LATAM,8917,13-04-2017,57106,South America,236.250000,5,50.000000,20.80%,51.980000,250.000000
48,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Mary,2737,Consumer,PR,725.0,LATAM,2737,30-03-2017,56172,Caribbean,181.949997,5,39.990002,5.70%,11.460000,199.949997
49,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,6428,Consumer,PR,725.0,LATAM,6428,25-03-2017,55829,Caribbean,225.000000,5,50.000000,9.00%,22.500000,250.000000
52,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,9204,Consumer,PR,725.0,LATAM,9204,27-05-2017,60127,South America,217.500000,5,50.000000,19.10%,47.849998,250.000000
53,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,9554,Consumer,PR,725.0,LATAM,9554,31-05-2017,60386,South America,212.500000,5,50.000000,3.40%,8.500000,250.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52301,Women's Apparel,Women's Apparel,Philadelphia,United States,Mary,6725,Corporate,PA,19134.0,Africa,6725,31-10-2016,45884,Southern Africa,196.000000,4,50.000000,35.60%,71.150002,200.000000
52305,Women's Apparel,Women's Apparel,Piscataway,United States,Mary,2593,Home Office,NJ,8854.0,LATAM,2593,02-10-2017,52847,Central America,232.500000,5,50.000000,27.00%,67.430000,250.000000
52306,Women's Apparel,Women's Apparel,Piscataway,United States,Mary,2593,Home Office,NJ,8854.0,LATAM,2593,02-10-2017,52847,Central America,227.500000,5,50.000000,10.30%,25.709999,250.000000
52308,Cleats,Cleats,Irwin,United States,Mary,2378,Home Office,PA,15642.0,LATAM,2378,17-04-2017,57359,Central America,272.950012,5,59.990002,25.50%,76.430000,299.950012
52312,Women's Apparel,Women's Apparel,Watsonville,United States,Mary,4501,Home Office,CA,95076.0,LATAM,4501,24-03-2017,55702,South America,200.000000,5,50.000000,29.00%,72.599998,250.000000

In [120]:
# Filter rows based on values within a range
df[df['Order_Quantity'].between(3, 5)]

,Additional Order items,Category Name,Customer City,Customer Country,Customer_Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order_Quantity,Product Price,Profit Margin,Profit Per Order,Sales
26,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,Brenda,5197,Home Office,PR,725.0,Africa,5197,10-04-2016,44046,West Africa,263.970001,3,99.989998,-61.60%,-184.779999,299.970001
27,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Frank,1535,Home Office,PR,725.0,Africa,1535,11-08-2016,46414,Central Africa,113.970001,3,39.990002,32.30%,38.750000,119.970001
28,Trade-In,Trade-In,Caguas,Puerto Rico,Johnny,6122,Home Office,PR,725.0,Africa,6122,11-11-2016,46599,West Africa,63.990002,3,21.990000,-5.50%,-3.650000,65.970001
29,Electronics,Electronics,Caguas,Puerto Rico,Mary,9451,Home Office,PR,725.0,Africa,9451,12-08-2016,48434,North Africa,79.660004,3,31.990000,39.80%,38.230000,95.970001
30,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,Hannah,11329,Home Office,PR,725.0,Europe,11329,22-07-2017,63936,Western Europe,269.970001,3,99.989998,44.10%,132.289993,800.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52308,Cleats,Cleats,Irwin,United States,Mary,2378,Home Office,PA,15642.0,LATAM,2378,17-04-2017,57359,Central America,272.950012,5,59.990002,25.50%,76.430000,299.950012
52309,Indoor/Outdoor Games,Indoor/Outdoor Games,Strongsville,United States,Brittany,680,Home Office,OH,44136.0,LATAM,680,16-05-2017,59351,Caribbean,219.910004,5,49.980000,6.60%,16.490000,249.899994
52310,Indoor/Outdoor Games,Indoor/Outdoor Games,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,239.899994,5,49.980000,32.60%,81.570000,249.899994
52311,Cleats,Cleats,Folsom,United States,Ronald,8185,Home Office,CA,95630.0,LATAM,8185,06-10-2017,61054,Central America,245.960007,5,59.990002,5.20%,15.500000,299.950012
52312,Women's Apparel,Women's Apparel,Watsonville,United States,Mary,4501,Home Office,CA,95076.0,LATAM,4501,24-03-2017,55702,South America,200.000000,5,50.000000,29.00%,72.599998,250.000000

In [121]:
# Using str.startswith() for filtering rows
df[df['Category Name'].str.startswith('Cardio')]

,Additional Order items,Category Name,Customer City,Customer Country,Customer_Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order_Quantity,Product Price,Profit Margin,Profit Per Order,Sales
26,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,Brenda,5197,Home Office,PR,725.0,Africa,5197,10-04-2016,44046,West Africa,263.970001,3,99.989998,-61.60%,-184.779999,299.970001
30,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,Hannah,11329,Home Office,PR,725.0,Europe,11329,22-07-2017,63936,Western Europe,269.970001,3,99.989998,44.10%,132.289993,800.000000
31,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,Mary,3570,Home Office,PR,725.0,Europe,3570,08-07-2017,65030,Western Europe,224.979996,3,99.989998,25.30%,76.040001,800.000000
65,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,Eugene,6277,Consumer,PR,725.0,LATAM,6277,27-04-2017,58034,Central America,499.950012,5,99.989998,30.00%,149.990005,800.000000
66,Cardio Equipment,Cardio Equipment,Caguas,Puerto Rico,John,4126,Consumer,PR,725.0,LATAM,4126,13-02-2017,53069,South America,484.950012,5,99.989998,28.10%,140.639999,800.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52283,Cardio Equipment,Cardio Equipment,Lancaster,United States,Mary,6439,Corporate,SC,29720.0,Africa,6439,24-12-2016,49586,North Africa,173.979996,2,99.989998,42.60%,85.250000,769.000000
52291,Cardio Equipment,Cardio Equipment,Decatur,United States,Mary,2151,Corporate,GA,30034.0,Africa,2151,12-11-2016,48692,North Africa,272.970001,3,99.989998,30.00%,90.080002,769.000000
52293,Cardio Equipment,Cardio Equipment,Las Vegas,United States,Mary,433,Corporate,NV,89115.0,Africa,433,11-02-2016,46017,Southern Africa,331.970001,4,99.989998,-219.90%,-879.710022,769.000000
52299,Cardio Equipment,Cardio Equipment,Houston,United States,Christina,248,Corporate,TX,77083.0,Africa,248,14-10-2016,44730,West Africa,391.959992,4,99.989998,9.80%,39.200001,769.000000
52360,Cardio Equipment,Cardio Equipment,Endicott,United States,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,163.979996,2,99.989998,37.70%,75.430000,769.000000

In [122]:
# Using str.contains() for filtering rows
df[df['Customer Segment'].str.contains('Office')]

,Additional Order items,Category Name,Customer City,Customer Country,Customer_Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order_Quantity,Product Price,Profit Margin,Profit Per Order,Sales
16,Cleats,Cleats,Bayamon,Puerto Rico,Mary,9083,Home Office,PR,957.0,Pacific Asia,9083,24-02-2016,28744,South Asia,115.180000,2,59.990002,-25.60%,-30.750000,119.980003
17,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Mary,4741,Home Office,PR,725.0,Pacific Asia,4741,25-10-2016,45461,West Asia,79.180000,2,39.990002,-153.50%,-122.730003,79.980003
18,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Elizabeth,639,Home Office,PR,725.0,Pacific Asia,639,30-03-2016,31115,Oceania,96.000000,2,50.000000,33.60%,33.599998,100.000000
19,Shop By Sport,Shop By Sport,Caguas,Puerto Rico,Katherine,9702,Home Office,PR,725.0,Pacific Asia,9702,30-10-2016,45766,West Asia,75.980003,2,39.990002,30.90%,24.690001,79.980003
20,Women's Apparel,Women's Apparel,Caguas,Puerto Rico,Mary,9114,Home Office,PR,725.0,Pacific Asia,9114,28-11-2016,47752,Eastern Asia,91.000000,2,50.000000,9.10%,9.100000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52356,Cleats,Cleats,Chicago,United States,Kathryn,10192,Home Office,IL,60614.0,Pacific Asia,10192,18-03-2016,30313,Oceania,53.990002,1,59.990002,29.30%,17.549999,59.990002
52357,Pet Supplies,Pet Supplies,Dallas,United States,Ria,16471,Home Office,TX,75240.0,Pacific Asia,16471,30-11-2017,72918,Southeast Asia,70.050003,1,84.400002,10.00%,8.410000,84.400002
52358,Fitness Accessories,Fitness Accessories,Endicott,United States,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,67.879997,2,34.990002,46.60%,32.580002,69.980003
52359,Indoor/Outdoor Games,Indoor/Outdoor Games,Phoenix,United States,Angela,10098,Home Office,AZ,85029.0,Pacific Asia,10098,21-02-2016,28528,Southeast Asia,83.970001,2,49.980000,-58.80%,-58.779999,99.959999
52360,Cardio Equipment,Cardio Equipment,Endicott,United States,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,163.979996,2,99.989998,37.70%,75.430000,769.000000

In [123]:
# Update values in a column based on a condition
df.loc[df['Customer Country'] == 'United States', 'Customer Country'] = 'USA'

In [124]:
# Update values in a column based on a condition
#df.iloc[df['Order_Quantity'] > 3, 15] = 'greater than 3'
# or
df['Order_Quantity']=df['Order_Quantity'].astype(int)
condition = df['Order_Quantity'] > 3
df.iloc[condition, 15] = 'greater than 3'
df

,Additional Order items,Category Name,Customer City,Customer Country,Customer_Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order_Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.000000
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,3341,18-04-2017,57472,South America,269.980011,1,299.980011,-5.40%,-16.200001,800.000000
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.000000
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,260.980011,1,299.980011,-1.10%,-3.390000,800.000000
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,10740,05-06-2017,58644,Central America,130.490005,1,149.990005,-63.80%,-95.650002,149.990005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52356,Cleats,Cleats,Chicago,USA,Kathryn,10192,Home Office,IL,60614.0,Pacific Asia,10192,18-03-2016,30313,Oceania,53.990002,1,59.990002,29.30%,17.549999,59.990002
52357,Pet Supplies,Pet Supplies,Dallas,USA,Ria,16471,Home Office,TX,75240.0,Pacific Asia,16471,30-11-2017,72918,Southeast Asia,70.050003,1,84.400002,10.00%,8.410000,84.400002
52358,Fitness Accessories,Fitness Accessories,Endicott,USA,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,67.879997,2,34.990002,46.60%,32.580002,69.980003
52359,Indoor/Outdoor Games,Indoor/Outdoor Games,Phoenix,USA,Angela,10098,Home Office,AZ,85029.0,Pacific Asia,10098,21-02-2016,28528,Southeast Asia,83.970001,2,49.980000,-58.80%,-58.779999,99.959999
52360,Cardio Equipment,Cardio Equipment,Endicott,USA,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,163.979996,2,99.989998,37.70%,75.430000,769.000000

In [125]:
# Replace specific values in a column
df['Order_Quantity'].replace(5, 'equals 5', inplace=True)

In [126]:
df

,Additional Order items,Category Name,Customer City,Customer Country,Customer_Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order_Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.000000
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,3341,18-04-2017,57472,South America,269.980011,1,299.980011,-5.40%,-16.200001,800.000000
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.000000
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,260.980011,1,299.980011,-1.10%,-3.390000,800.000000
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,10740,05-06-2017,58644,Central America,130.490005,1,149.990005,-63.80%,-95.650002,149.990005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52356,Cleats,Cleats,Chicago,USA,Kathryn,10192,Home Office,IL,60614.0,Pacific Asia,10192,18-03-2016,30313,Oceania,53.990002,1,59.990002,29.30%,17.549999,59.990002
52357,Pet Supplies,Pet Supplies,Dallas,USA,Ria,16471,Home Office,TX,75240.0,Pacific Asia,16471,30-11-2017,72918,Southeast Asia,70.050003,1,84.400002,10.00%,8.410000,84.400002
52358,Fitness Accessories,Fitness Accessories,Endicott,USA,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,67.879997,2,34.990002,46.60%,32.580002,69.980003
52359,Indoor/Outdoor Games,Indoor/Outdoor Games,Phoenix,USA,Angela,10098,Home Office,AZ,85029.0,Pacific Asia,10098,21-02-2016,28528,Southeast Asia,83.970001,2,49.980000,-58.80%,-58.779999,99.959999
52360,Cardio Equipment,Cardio Equipment,Endicott,USA,Mary,12070,Home Office,NY,13760.0,Pacific Asia,12070,29-02-2016,29058,Oceania,163.979996,2,99.989998,37.70%,75.430000,769.000000