https://medium.com/stinopys/pivot-table-in-python-as-in-excel-b7265fe1a360

In [42]:
import pandas as pd
df = pd.read_csv("food.csv")
df=df.rename(columns={"Categoy":"Category"})

In [43]:
display(df)

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,1/1/2020,East,Boston,Bars,Carrot,33,1.77,58.41
1,1/4/2020,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,1/7/2020,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,1/10/2020,East,New York,Cookies,Chocolate Chips,82,1.87,153.34
4,1/13/2020,East,Boston,Cookies,Arrowroot,38,2.18,82.84
5,1/16/2020,East,Boston,Bars,Carrot,54,1.77,95.58
6,1/19/2020,East,Boston,Crackers,Whole Wheat,149,3.49,520.01
7,1/22/2020,West,Los Angele,Bars,Carrot,51,1.77,90.27
8,1/25/2020,East,New York,Bars,Carrot,100,1.77,177.00
9,1/28/2020,East,New York,Snacks,Potato Chips,28,1.35,37.80
10,1/31/2020,East,Boston,Cookies,Arrowroot,36,2.18,78.48
11,2/3/2020,East,Boston,Cookies,Chocolate Chips,31,1.87,57.97
12,2/6/2020,East,Boston,Crackers,Whole Wheat,28,3.49,97.72
13,2/9/2020,West,Los Angeles,Bars,Carrot,44,1.77,77.88
14,2/12/2020,East,New York,Bars,Carrot,23,1.77,40.71
15,2/15/2020,East,New York,Snacks,Potato Chips,27,1.35,36.45
16,2/18/2020,East,Boston,Cookies,Arrowroot,43,2.18,93.74
17,2/21/2020,East,Boston,Cookies,Oatmeal,123,2.84,349.32

In [44]:
# Standard Pivot
import numpy as np
pt0 = pd.pivot_table(df, 
                     values='TotalPrice',
                     index=['Category', 'Product'],
                     columns=['Region', 'City'], 
                     aggfunc=np.nansum)

In [45]:
display(pt0)

Region                      East                West
City                      Boston New York Los Angele Los Angeles
Category Product
Bars     Carrot           153.99   217.71      90.27       77.88
Cookies  Arrowroot        255.06      NaN        NaN         NaN
         Chocolate Chip      NaN      NaN        NaN      108.46
         Chocolate Chips   57.97   153.34        NaN         NaN
         Oatmeal          349.32      NaN        NaN         NaN
Crackers Whole Wheat      921.36      NaN        NaN         NaN
Snacks   Potato Chips        NaN    74.25        NaN         NaN

In [46]:
df_long = df.copy()

df_long['All_cols'] = np.nan # For the summary by columns at uppermost level
df_long['All_rows'] = np.nan # For the summary by rows at uppermost level

In [47]:
def pivot_table_w_subtotals(df, values, indices, columns, aggfunc, fill_value):
    '''
    Adds tabulated subtotals to pandas pivot tables with multiple hierarchical indices.
    
    Args:
    - df - dataframe used in pivot table
    - values - values used to aggregrate
    - indices - ordered list of indices to aggregrate by
    - columns - columns to aggregrate by
    - aggfunc - function used to aggregrate (np.max, np.mean, np.sum, etc)
    - fill_value - value used to in place of empty cells
    
    Returns:
    -flat table with data aggregrated and tabulated
    
    '''
    listOfTable = []
    for indexNumber in range(len(indices)):
        n = indexNumber+1
        table = pd.pivot_table(df,values=values,index=indices[:n],columns=columns,aggfunc=aggfunc,fill_value=fill_value).reset_index()
        for column in indices[n:]:
            table[column] = ''
        listOfTable.append(table)
    concatTable = pd.concat(listOfTable).sort_index()
    concatTable = concatTable.set_index(keys=indices)
    return concatTable.sort_index(axis=0,ascending=True)

In [48]:
df_wide = pivot_table_w_subtotals(df=df_long, values=values, 
                         indices=['All_rows',] + indices, 
                         columns=['All_cols',] + columns, 
                         aggfunc=np.nansum, 
                         fill_value=np.nan)

NameError: name 'values' is not defined